html {
  font-size: 26.666666666667vw;
}

@media (min-width: 480px) {
  html {
    font-size: 128px;
    overflow-x: hidden;
  }
}

body {
  font-size: .14rem;
  max-width: 480px;
  margin: auto;
  position: relative;
  line-height: 1.4;
  font-weight: 400;
  font-family: 'Noto Sans', sans-serif;
  color: #3d4770;
}

body input, body textarea {
  outline: none;
}

body input:focus:required:invalid, body textarea:focus:required:invalid {
  border-color: red;
}

body input:required:valid, body textarea:required:valid {
  border-color: green;
}

section {
  padding: .7rem .33rem;
}

section.no-pad {
  padding: 0;
}

.img-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.img-wrap img {
  width: 100%;
}

.img-wrap.pad {
  padding: 0 .2rem;
}

.img-wrap.mar {
  margin: .2rem 0;
}

.content {
  padding: 0 .33rem;
}

.content p {
  line-height: 0.21rem;
}

.content p:last-child {
  margin-bottom: 0;
}

h2 {
  font-size: 0.25rem;
  line-height: 0.37rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #6cb7e3;
}

h2 span {
  color: #ff5f55;
}

.t-center {
  text-align: center;
}

.t-white {
  color: #fff;
}

.btn {
  display: block;
  width: 3.1rem;
  height: 0.78rem;
  margin: auto;
  background-color: #ff5f55;
  text-transform: uppercase;
  -webkit-animation: btn 3s linear infinite;
          animation: btn 3s linear infinite;
  font-weight: bold;
  font-size: 0.3rem;
  color: #fff;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  border-radius: 10px;
}

.btn span {
  text-align: center;
  display: block;
  width: 100%;
}

.border__top {
  width: 4.8rem;
  position: absolute;
  top: -0.28rem;
  left: 0;
  right: 0;
}

.border__bot {
  width: 4.8rem;
  position: absolute;
  bottom: -0.28rem;
  left: 0;
  right: 0;
}

@-webkit-keyframes btn {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.06);
            transform: scale(1.06);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes btn {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.06);
            transform: scale(1.06);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.pulse__btn {
  position: fixed;
  right: 0.2rem;
  display: inline-block;
  bottom: 0.2rem;
  z-index: 12;
  -webkit-box-shadow: 0 0 0 rgba(11, 138, 44, 0.4);
          box-shadow: 0 0 0 rgba(11, 138, 44, 0.4);
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
  -webkit-transition: all .9s ease;
  transition: all .9s ease;
}

.pulse__btn.show {
  right: -100%;
}

.pulse__btn img {
  width: 100%;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 rgba(11, 138, 44, 0.4);
            box-shadow: 0 0 0 rgba(11, 138, 44, 0.4);
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  70% {
    -webkit-box-shadow: 0 0 0 30px rgba(11, 138, 44, 0);
            box-shadow: 0 0 0 30px rgba(11, 138, 44, 0);
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(11, 138, 44, 0);
            box-shadow: 0 0 0 0 rgba(11, 138, 44, 0);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 rgba(11, 138, 44, 0.4);
            box-shadow: 0 0 0 rgba(11, 138, 44, 0.4);
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  70% {
    -webkit-box-shadow: 0 0 0 30px rgba(11, 138, 44, 0);
            box-shadow: 0 0 0 30px rgba(11, 138, 44, 0);
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(11, 138, 44, 0);
            box-shadow: 0 0 0 0 rgba(11, 138, 44, 0);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.header {
  background-image: url(../../img/header_bg.png);
  background-size: cover;
  position: relative;
}

.header__logo {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url(../../img/logo.png);
  background-size: cover;
  height: 1.48rem;
  width: 1.73rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 0.33rem;
  margin-bottom: 0.3rem;
}

.header__logo p {
  color: #3d4770;
  font-weight: bold;
  font-size: 0.3rem;
  line-height: 0.35rem;
  margin: 0;
  padding-bottom: 0.1rem;
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
  position: absolute;
  right: 0.5rem;
  top: 1.1rem;
  padding-right: .16rem;
  border-right: 2px solid #ff5f55;
}

.price s {
  font-size: 0.15rem;
  color: #3d4770;
}

.price span {
  font-size: 0.26rem;
  font-weight: bold;
  color: #6cb7e3;
}

.header__prod {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__prod img {
  width: 100%;
}

.header__heading {
  padding: 0 .33rem;
}

.header__heading p {
  font-size: 0.18rem;
  margin-bottom: 0.3rem;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0.7rem 0.33rem;
  padding-top: .8rem;
}

.header__item {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header__item img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 1rem;
  margin-bottom: 0.2rem;
}

.header__item:nth-child(1) {
  margin-bottom: 0.4rem;
}

.header__item:nth-child(even) {
  padding-left: 0.2rem;
}

section.sect2 {
  padding-bottom: 0.7rem;
}

section.sect2 h2 {
  margin-bottom: 0;
}

.sect2__par {
  padding: .35rem .25rem;
  background-image: url(../../img/sect2_par.png);
  background-size: cover;
  margin-top: -0.4rem;
  z-index: 1;
  position: relative;
  margin-bottom: 0.4rem;
}

.sect2__par p {
  margin: 0;
}

.content--sect2-footer {
  margin-top: -0.7rem;
}

.img-wrap--sect2 {
  position: relative;
  padding-right: 0.33rem;
  padding-top: 0.4rem;
  position: relative;
}

.img-wrap--sect2 p {
  position: absolute;
  right: 0.33rem;
  bottom: .6rem;
  color: #ff5f55;
  font-size: 0.6rem;
  line-height: 0.9;
  font-weight: bold;
  margin: 0;
}

.img-wrap--sect2 p span {
  display: block;
  font-size: 0.18rem;
  color: #6cb7e3;
  font-weight: normal;
}

.sect3 {
  background: #dbf2ff;
  position: relative;
  padding-bottom: .3rem;
}

.sect3__item {
  background: #fff;
  border-radius: 10px;
  -webkit-filter: drop-shadow(0 0 15px rgba(62, 163, 220, 0.2));
          filter: drop-shadow(0 0 15px rgba(62, 163, 220, 0.2));
  padding: .25rem .15rem;
  margin-bottom: 0.2rem;
}

.sect3__item:last-child {
  margin-bottom: 0;
}

.sect3__img {
  position: relative;
  line-height: 1;
  margin-bottom: 0.3rem;
}

.sect3__img img {
  width: 100%;
}

.sect3__img .index {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -0.25rem;
  width: .5rem;
  height: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin: auto;
  background: #ff5f55;
  font-size: 0.25rem;
  font-weight: bold;
  color: #fff;
  border: 6px solid #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sect3__img-left,
.sect3__img-right {
  font-size: 0.13rem;
  border-radius: 4px;
  height: 0.3rem;
  width: 0.96rem;
  background-color: #acacac;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

.sect3__img-left {
  left: 0.1rem;
  top: 0.2rem;
}

.sect3__img-right {
  right: 0.1rem;
  bottom: 0.2rem;
}

.sect3__footer {
  background-image: url(../../img/sect3_footer.png);
  background-size: cover;
  background-color: #dbf2ff;
  padding: .6rem .55rem;
  padding-top: 1rem;
  font-size: 0.16rem;
  line-height: 0.24rem;
}

.sect3__footer span {
  text-transform: uppercase;
  color: #ff5f55;
  font-weight: bold;
}

.sect3__footer p {
  margin-bottom: 0.25rem;
}

.sect4 {
  background-color: #eff9ff;
  position: relative;
  overflow: hidden;
}

.sect4_decor {
  position: absolute;
  left: 0.4rem;
  top: 0.5rem;
}

.sect4_decor img {
  width: 0.3rem;
}

.sect4__slider {
  padding: .2rem 0;
}

.sect4__slide img {
  text-align: center;
  width: 1.2rem;
  margin: auto;
  margin-bottom: -0.15rem;
  position: relative;
  z-index: 1;
}

.slide__content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: .35rem .25rem;
  background: #fff;
  -webkit-filter: drop-shadow(0 0 12.5px rgba(157, 157, 157, 0.1));
          filter: drop-shadow(0 0 12.5px rgba(157, 157, 157, 0.1));
  border-radius: 10px;
}

.slide__content .name {
  font-size: 0.16rem;
  font-weight: bold;
  margin-top: 0;
}

.sect4__slider-btn {
  position: absolute;
  top: 2.2rem;
  z-index: 5;
  outline: none;
}

.sect4__slider-btn img {
  width: .8rem;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.sect4__prev {
  left: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.sect4__next {
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.sect5 {
  position: relative;
}

.sect5 h2 {
  font-size: 0.2rem;
}

.sect5 h2 span {
  font-size: 0.26rem;
}

.sect5__decor {
  position: absolute;
  top: 1.85rem;
  right: 0.6rem;
}

.sect5__decor img {
  width: 0.46rem;
}

.sect5__content {
  padding-top: 0.3rem;
}

.sect5__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.3rem;
}

.sect5__item:last-child {
  margin-bottom: 0;
}

.sect5__item .sect5-img {
  width: 1.07rem;
  margin-right: 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sect5__item .sect5-img img {
  max-width: 100%;
}

.sect5__item p span {
  display: block;
  color: #ff5f55;
  font-size: 0.26rem;
  font-weight: bold;
}

.footer {
  background-image: url(../../img/footer_bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 .03rem;
  position: relative;
  padding-bottom: 0.7rem;
}

.footer h2 {
  margin-bottom: 0.3rem;
}

.footer__logo {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url(../../img/logo.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1.48rem;
  width: 1.73rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  margin-bottom: 0.05rem;
}

.footer__logo p {
  color: #3d4770;
  font-weight: bold;
  font-size: 0.3rem;
  line-height: 0.35rem;
  margin: 0;
  padding-bottom: 0.1rem;
}

.price--footer {
  position: static;
  text-align: left;
  border-right: none;
  padding-right: 0;
  padding-left: 0.2rem;
  border-left: 2px solid #ff5f55;
}

input {
  height: .78rem;
  width: 100%;
  border-radius: 10px;
  background-color: #f7f7fd;
  padding-left: 0.3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  -webkit-box-shadow: inset 0px 3px 2px 1px rgba(182, 170, 170, 0.54);
          box-shadow: inset 0px 3px 2px 1px rgba(182, 170, 170, 0.54);
  font-size: 0.16rem;
}

.input-wrap {
  position: relative;
  margin-bottom: 0.3rem;
}

.input-wrap img {
  position: absolute;
  right: 0.3rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
/*# sourceMappingURL=main.css.map */